<div id='header' class='ui inverted vertical center aligned segment'>
  <div class='ui container'>
    <div class='ui large secondary inverted pointing menu'>
      <%= link_to t("general.app_name"), home_path, class: 'active item' %>
      <div class='right item'>
        <a class='ui inverted button'><%= t("general.log_in") %></a>
      </div>
    </div>
  </div>
  <div class='ui text container'>
    <div class='ui header'>
      <%= image_tag('logo-white', class: 'logo') %>
    </div>
    <h3><%= t(".explanation") %></h3>
    <div class='ui large green button'><%= t("general.create_account") %><i class='add user icon'></i></div>
  </div>
</div>
