<div class="ui center aligned middle aligned item grid">
  <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
    <div class="ui image">
      <%= image_tag(mission.image) %>
    </div>
  </div>

  <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
    <div class="content">
      <div class="header">
        <h2><%= mission.label %></h2>
      </div>

      <!-- Cost properties -->
      <div class="extra">
        <div>
          <i class="angle double up icon"></i>
          <div class="ui horizontal bulleted list">
            <div class="item">
              <%= t("inventory.labels.level", value: mission.send(:level)) %>
            </div>
          </div>
        </div>
        <div>
          <i class="arrow circle down icon red"></i>
          <div class="ui horizontal bulleted list">
            <% mission.cost_properties.each do |cost_attribute| %>
              <div class="item">
                <%= t("inventory.labels.#{cost_attribute}", qualifier: '-', value: mission.send(cost_attribute).abs) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Gain properties -->
      <div class="description">
        <div class="ui horizontal list">
          <% mission.gain_properties.each do |gain_attribute| %>
            <div class="item">
              <i class="arrow circle up icon green"></i>
              <%= t("inventory.labels.#{gain_attribute}", qualifier: '+', value: mission.send(gain_attribute).abs) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
    <div class="description">
      <%=
        link_to t('general.actions.perform'),
                perform_path(mission_kind: mission.name),
                method: :post,
                class: 'ui mini inverted green button'
      %>
    </div>
  </div>
</div>
